.aboutMe {
    color: #000000;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.aboutMe h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
}

.picture {
    height: auto;
    width: 45%;
    border-radius: 100%;
    border: 2px solid #fff;
}

.picture:hover {
    border-radius: 100%;
    border: 2px solid rgb(0, 255, 106);
    transition: all 1.5s ease 0s;
}

@media screen and (min-width: 768px) {
    .picture {
        height: auto;
        width: 10%;
        border-radius: 100%;
        border: 2px solid #fff;
    }
}



.description {
    font-size: 18px;
    width: 80%;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 1px;
    height: auto;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .description {
        font-size: 18px;
        width: 45%;
        text-align: center;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding: 1px;
        height: auto;
        margin: 0 auto;

    }
}

.techDiv {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

.iconsDiv {
    display: flex;
    gap: 7.5px;
    flex-wrap: wrap;
    justify-content: center;
}

.techStats {
    width: 48%;
    background-color: #F2F2F2;
    border: 5px solid transparent;
    color: #000;
    font-weight: bold;
    border-radius: 15px;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    transition: all 0.1s ease;
    /* height: 130px; */
}

/* For bigger screens */
@media screen and (min-width: 768px) {
    .techStats {
        /* border: 1px solid rgb(0, 183, 255); */
        border: 5px solid transparent;
        color: #000;
        font-weight: bold;
        border-radius: 5px;
        width: 13%;
        background-color: #F2F2F2;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        transition: all 1.0s ease 0s;
    }
}

.techStats:hover {
    border-radius: 6, 5px;
    border: 5px solid rgb(0, 255, 106);
    transition: all 1.0s ease 0s;
}


/* Progress Bar */
.progressBar {
    display: flex;
    width: 80%;
    height: 20px;
    margin: 0.8rem;
}

@media screen and (min-width: 768px) {
    .progressBar {
        display: flex;
        width: 80%;
        height: 30px;
        margin: 0.8rem;
    }
}

.square {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.squareActive {
    display: inline-block;
    width: 20%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 15px;
    background-color: rgb(0, 255, 106);
}

.progressBar .square:first-child {
    border-left: 1px solid #aaa;
}

.progressBar .square:last-child {
    border-right: 1px solid #aaa;
}

.downloadResume {
    margin: 3rem 0 0 0;
    text-align: center;
    justify-content: center;
}

button {
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    background: #F2F2F2;
    border: 3px solid transparent;
    color: #000;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    align-items: center;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    border-radius: 6, 5px;
    border: 3px solid rgb(0, 255, 106);
    transition: all 1.0s ease 0s;
}