.contacts {
  display: grid;
  width: 80%;
  height: auto;
  margin: auto;
  justify-content: center
}

.contactInfo {
  display: flex;
  background-color: #BFBDBE;
  margin: 2px;
  gap: 10px;
  width: 225px;
  height: 60px;
  color: aliceblue;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(51, 54, 56);
  border-radius: 5px;
  transition: all 0.25s ease 0s;
}

.contactInfo:hover {
  border-top: solid 5px rgb(0, 255, 106);
}

@media screen and (min-width: 768px) {

  .contacts {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: center
  }

  .contactInfo {
    display: flex;
    background-color: #BFBDBE;
    margin: 2px;
    gap: 10px;
    width: 225px;
    height: 60px;
    color: aliceblue;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(51, 54, 56);
    border-radius: 5px;
    transition: all 0.25s ease 0s;
  }
}