.header {
  position: relative;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 5rem; */
  display: grid;
  text-align: center;
  background-color: #0B1120;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
