h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
}

.projects {
    color: #FFFFFF;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.projectInfo {
    background-color: #BFBDBE;
    border-radius: 25px;
    border: 3px solid transparent;
    width: 250px;
    height: 200px;
    margin: 3px;
    display: inline-block;
}

.projectInfo:hover {
    /* color:#2A4580; */
    border-radius: 6, 3px;
    border: 3px solid rgb(0, 255, 106);
    transition: all 1.5s ease 0s;
    background-color: #0D0D0D;
}

.projectImage {
    height: 100px;
    width: 200px;
    margin-bottom: 1rem;
}

/* For bigger screen */
@media screen and (min-width: 768px) {
    .projectImage {
        height: 200px;
        width: 400px;
        margin-bottom: 1rem;
    }

    .projectInfo {
        background-color: #BFBDBE;
        border-radius: 25px;
        border: 3px solid transparent;
        width: 48%;
        height: auto;
        margin: 3px;
        display: inline-block;
    }
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
