.opening {
    text-align: center;
    color: aliceblue;
}

.myName {
    font-family: Barlow, sans-serif;
    font-size: 36px;
    margin-bottom: 0;
}

.name {
    /* font-weight: bold; */
    color: #362FD9;
    background-image: linear-gradient(78deg, rgba(115,247,160,1) 1%, rgba(53,231,181,1) 25%, rgba(47,204,241,1) 50%, rgba(25,134,247,1) 74%, rgba(0,52,255,1) 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: 4s linear 0s infinite normal none running textclip;
}

.positionName {
    margin-top: 1%;
    font-weight: bold;
    font-size: 45px;
    padding: 0;
    margin-bottom: 25px;
}

.welcomePhrase {
    font-size: 20px;
    margin: 0;
    padding: 0;

}